<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<!--    <bean id="user" name="user_1" class="live.clover.demo1.User">-->
<!--    </bean>-->

<!--    <bean id="userByFactory" name="user_factory_1" class="live.clover.demo1.StaticFactory" factory-method="getUser1">-->
<!--        <constructor-arg index="0" value="10"/>-->
<!--        <constructor-arg index="1" value="User"/>-->
<!--    </bean>-->

    <bean id="userByFactoryBean" name="user_factory_bean_1" class="live.clover.demo1.UserFactoryBean"/>

    <bean id="a" class="live.clover.demo2.A"/>
    <bean id="b" class="live.clover.demo2.B"/>
    <bean id="c" class="live.clover.demo2.C"/>

    <bean class="live.clover.demo2.DiAutowireByType$Service1"/>
    <bean class="live.clover.demo2.DiAutowireByType$Service2"/>

    <bean class="live.clover.demo2.AutowiredBeanByName" autowire="byName"/>
    <bean class="live.clover.demo2.DiAutowireByType" autowire="byType"/>
</beans>